.container {
  border: 3px;
  width: 50%;
  top: 3000px;
  left: 200px;
  position: static;
}

.header {
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
